apiVersion: monitoring.googleapis.com/v1
kind: PodMonitoring
metadata:
  name: glm52-${INFERENCE_SERVER_LABEL}-podmonitoring
  namespace: llm-serving
  labels:
    app: glm52-serving
    app.kubernetes.io/name: ${INFERENCE_SERVER_LABEL}
    app.kubernetes.io/part-of: google-cloud-managed-prometheus
    ai.gke.io/model: "glm-5.2-moe"
    ai.gke.io/inference-server: "${INFERENCE_SERVER_LABEL}"
    env: ${ENV_LABEL}
    owner: ${OWNER_LABEL}
spec:
  selector:
    matchLabels:
      app: glm52-serving
  endpoints:
  - port: 8000
    path: /metrics
    interval: 15s
